body{
    margin: 0px;
    background-image: linear-gradient(to bottom, #5ffbf1, #53f0ea, #47e6e3, #3adbdc, #2cd1d5, #1eb9cc, #27a1bf, #358aad, #486183, #423d53, #292028, #000000);
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    height: 3vw;
    nav{
        display: flex;
        width: 40%;
        height: auto;
        border: brown solid 2px;
        justify-content: space-between;
        text-align: center;
    }
}
.titre{
    padding-top:5vw;
}
.produit{
    width: 150px;
    padding-top: 10vw;
    padding-right: 5vw;
}
.who{
    width: 150px;
    padding-top: 10vw;
    padding-left: 5vw;
    a{
        text-decoration: none;
    }
}
.info{
    padding-left: 15vw;
    padding-right: 15vw;
}
.box1{
    padding-top: 20vw;
}
.titre1{
    padding-bottom: 5vw;;
}
.imgProduit img{
    padding-top: 3vw;
    height: 200px;
    width: 150px;
}
.formulaire{
    padding-top: 10vw;
}

/*annimation du logo*/
.logo{
    position: relative;
    animation-name: logo;
    animation-duration: 2s;
    


    @-webkit-keyframes logo {
        0%   { left:0px; top:-500px;}
        100% { left:0px; top:0px;}
    }

    .logo:hover {
        transform: scale(1.3);
        transition: 0.1s;
    }
}

#tv {
    
    
    width: 900px;
    height: 650px;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    opacity: 80%;
    z-index: 1;
}
      #tv:hover {
       border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
       box-shadow: 20px 20x rgba(0,0,0,.25);
    
       }
    
.form{
    color: black;
}