//.acceuille premiere page !

.titre{
    padding-top:5vw;
}
.produit{
    width: 150px;
    padding-top: 10vw;
    padding-right: 5vw;
}
.who{
    width: 150px;
    padding-top: 10vw;
    padding-left: 5vw;
    a{
        text-decoration: none;
        color: black;
    }
    .border{
        border: 1px solid black;
        background-color: #15c5bd;
    }
}
.info{
    padding-left: 15vw;
    padding-right: 15vw;
}
.box1{ //deuxieme partie de page
    padding-top: 20vw;

    .titre1{
    padding-bottom: 5vw;;
    }
    .imgProduit img{
    padding: 2vw;
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: #808080 10px 10px 5px;
    }
}
p{
    padding-top: 2vw;
    }
.formulaire{
    padding-top: 10vw;
}
//@font-face {
    font-family: "Open Sans";
    src: url("/Projet-Formulaire/Assets/font/bellota/Bellota-Regular.otf") format("otf"),
        url("/Projet-Formulaire/Assets/font/bellota-fontfacekit/web\ fonts/") format("svg");
}