/*tout retransformer en sass*/
body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, #15c5bd, #188cac, #425576, #332936, #000000);
}
<<<<<<< HEAD
/*annimation du logo*/
.logo{
    position: relative;
    animation-name: logo;
    animation-duration: 2s;
    

}
@-webkit-keyframes logo {
    0%   { left:0px; top:-500px;}
    100% { left:0px; top:0px;}
}

.logo:hover {
    transform: scale(1.3);
   transition: 0.1s;
  }
=======
/*annimation pulse start here*/
/*.img {
    animation: pulse 2s infinite;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
@-webkit-keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(44, 55, 204, 0.493);
    }
    70% {
        box-shadow: 0 0 0 25px rgba(44,55,204, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(44,55,204, 0);
    }
  }
*/
/*annimation pulse end here*/
>>>>>>> origin/Vincent
